<template>
    <div class="bg-beauty_">
      <div class="circular circular1"></div>
      <div class="circular circular2" :style="{right:random_px,top:random_px1}"></div>
    </div>
</template>

<script>
    var that=null;
    module.exports = {
        props: {
          type:{
            default:''
          }
        },
        data: function() {
            return {
              message_:'',
              random_px:Math.random()*100+'vw',
              random_px1:Math.random()*100+'vh',
            }
        },
        methods:{

        },
        mounted:function () {
            that = this;
          console.log(that.random_px);
        }
    }
</script>

<style>
    .bg-beauty_ a{color: #FFF;}
    .bg-beauty_ .circular{background: var(--font-color);
      position: fixed;
      z-index: -1;
      border-radius: 50%;
    }
    .bg-beauty_ .circular1{
      width: 100px;height: 100px;
      top:6vh;
      left: -80px;
    }
    .bg-beauty_ .circular2{
      width: 150px;height: 150px;background: var(--font-color);
      position: fixed;
      z-index: -1;
      bottom:6vh;
      /*right: -36px;*/
      border-radius: 50%;
    }
</style>
