<template>
    <div class="fotter_vue" style="background: #000;color:#fff;padding: 10px 0;">
      <div class="fotter-box">
        <el-row :gutter="20">
          <el-col :xs="24" :md="14">
            <div class="info">
              <div class="info-item">有任何疑问或建议，请发送至大赛工作组</div>
              <div class="info-item">沈阳赛区组委会联系邮箱：zhangxd@neuai.net</div>
              <div class="info-item">中美青年创客大赛沈阳技术支持：沈阳牛艾科技有限公司</div>
              <div class="info-item beian"><el-link :underline="false">2020 辽ICP备17020107号-1</el-link></div>
            </div>
          </el-col>
          <el-col :xs="12" :md="5" v-if="false" class="ewm-box">
            <div class="ewm-title">大赛官方微信小程序</div>
            <div class="ewm-img">
              <img src="http://maker.city/img/ewm1.jpg" alt="">
            </div>
          </el-col>
          <el-col :xs="12" :md="5" v-if="false" class="ewm-box">
            <div class="ewm-title">GOOGLE中国教育合作部</div>
            <div class="ewm-img">
              <img src="http://maker.city/img/ewm2.jpg" alt="">
            </div></el-col>
        </el-row>
      </div>
    </div>
</template>

<script>
    var that=null;
    module.exports = {
        props: {
          id: {
            default: ''
          },
        },
        data: function() {
            return {
              is_phone:document.body.clientWidth < 767,
            }
        },
        methods:{
          init(){

          },
          handleClose(done) {
            done();
          },
        },
        mounted:function () {
          that = this;
          that.init();
        }
    }
</script>

<style>
    .fotter_vue a{color: #FFF;}
    @media only screen and (min-width: 768px){
      .fotter_vue .fotter-box{
        display: flex;
        align-items: center;
        padding: 0 20px;
      }
      .fotter_vue .ewm-img{
        width: 120px;
        height: 120px;
        flex-shrink: 0;
      }
      .fotter-box .el-row{
        display: flex;
        align-items: center;
        width: 100%;
      }
    }
    @media only screen and (max-width: 767px){
      .fotter_vue .fotter-box{
        padding: 0 20px;
      }
      .fotter_vue .ewm-img{
        width: 70px;height: 70px;flex-shrink: 0;
      }
    }
    .fotter_vue .ewm-box{
      display: flex;
      align-items: center;
      padding: 40px 0;
      min-height: 300px;
      justify-content: center;
    }
    .fotter_vue .ewm-title{
      width: 12px;
      font-size: 12px;
      text-align: center;
      padding:0 10px;
      word-wrap: break-word;
    }
    .fotter_vue .info-item{
      padding: 10px 0;
      font-size: 14px;
    }
    .fotter_vue .beian{
      font-size: 14px;
      color: var(--text-muted);
    }
</style>
