<template>
    <div class="header_vue" style="background: #fff;width: 100%;padding: 10px 0;">
      <div class="header_">
<!--        左侧按钮组-->
        <div class="header_-left">
          <div class="logo-box">
            <div class="logo"><img src="https://neuai.oss-cn-beijing.aliyuncs.com/makercity/logo1.png" alt=""></div>
            <el-link href="/index" :underline="false" class="logo-title">MakerCity</el-link>
          </div>
        </div>
<!--        右侧按钮组-->
        <div class="header_-right" v-if="is_phone">
          <div class="header_-right-btn-phone hand">
            <div class="hand iconfont icon-gengduo1-copy" @click="drawer = true" ></div>
          </div>
        </div>
        <div class="header_-right" v-else>
          <div v-if="!mine" class="header_-right-btn hand">
            <el-link :underline="false" :href="links.login.click">{{links.login.title}}</el-link>
          </div>
          <div v-if="!mine" class="header_-right-btn hand">
            <el-link :underline="false" :href="links.reg.click">{{links.reg.title}}</el-link>
          </div>
<!--          报名参赛-->
          <div v-if="mine" class="header_-right-btn hand">
            <el-link :underline="false" :href="links.join.click">{{links.join.title}}</el-link>
          </div>
          <div v-if="links.welcome.show" class="header_-right-btn hand">
            <el-dropdown @command="handelCommand">
              <span class="el-dropdown-link">
                {{ links.welcome.title }}<i class="el-icon-arrow-down el-icon--right"></i>
              </span>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item command="logout">退出登录</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </div>
        </div>
      </div>
      <el-drawer
          :visible.sync="drawer"
          :show-close="false"
          :direction="direction"
          custom-class="header_more"
          :before-close="handleClose">
        <div slot="title"></div>
        <div>

        </div>
      </el-drawer>
    </div>
</template>

<script>
    var that=null;
    module.exports = {
        props: {
          id: {
            default: ''
          },
        },
        data: function() {
            return {
              is_phone:document.body.clientWidth < 767,
              drawer: false,
              direction: 'rtl',
              links:{
                login:{
                  title:'登录',
                  click:'/login',
                  show:true,
                },
                reg:{
                  title:'注册',
                  click:'/reg',
                  show:true,
                },
                welcome:{
                  title:'欢迎',
                  click:'',
                  show:false,
                },
                join:{
                  title:'报名参赛',
                  click:'/index/index/join',
                  show:true,
                },
                join:{
                  title:'上传项目',
                  click:'/index/project/upload_pro',
                  show:true,
                },
              },
              mine:null,
            }
        },
        methods:{
          init(){
            var this_url = window.location.href;
            if(this_url.indexOf('/index/login') > -1){that.links.login.show = false;}
            // the_post('api/user/get_my_info',{},function (res){
            //   that.mine = res.data;
            //   if(that.mine){
            //     that.links.welcome.show = true;
            //     that.links.welcome.title = that.mine.nickname?that.mine.nickname:that.mine.mail;
            //   }
            // })
          },
          handleClose(done) {
            done();
          },
          handelCommand(command){
            if(command == 'logout'){
              delCookie('token');
              window.location.href = '';
            }
          },
        },
        mounted:function () {
          that = this;
          that.init();
          // 监听窗口大小变化
          window.onresize = () => {
            return (() => {
              if(document.body.clientWidth < 767){
                that.is_phone = true
              }else{
                that.is_phone = false
              }
            })()
          }
        }
    }
</script>

<style>
    .header_ a{color: #FFF;}
    .header_vue{
      border-bottom: 1px solid var(--bg-color);
    }
    .header_{
      display: flex;
      justify-content: space-between;
    }
    .header_-right {
      padding: 10px 20px;
      display: flex;
      color: #000;
    }
    .header_-right-btn , .header_-right-btn .el-link{
      padding: 5px 5px;
      margin: 0 5px;
      font-weight: 700;
      font-size: 16px;
      display: flex;
      align-items: center;
    }
    .header_-right-btn-phone{
      color: var(--font-color);
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
    }
    /*左侧样式表*/
    .header_-left{
      display: flex;
      align-items: center;
      padding: 0 20px;
    }
    .header_-left .logo-box{
      display: flex;
      align-items: center;
    }
    .header_-left .logo{
      width: 40px;height: 40px;margin-right: 10px;
      background: #2E9FE6;
    }
    .header_-left .logo-title{
      font-size: 20px;
      font-weight: 700;
    }
    /*抽屉*/
    .header_more{
      width: 70% !important;
    }
</style>
