<template>
  <div class="login_reg_" style="margin: 10px;" :style="{marginTop:is_phone?'2vh':'2vh',}">
    <el-row :gutter="20">
      <el-col :xs="24" :sm="{span:20,offset:2}">
        <el-card>
          <div slot="header"> 欢迎{{ is_login ? '登录' : '注册' }} 创客城</div>
          <el-col :sm="16" :md="16">
            <div><img src="http://res.neuai.net/makercity/header1.png?x-oss-process=image/resize,w_800" alt=""></div>
          </el-col>
          <el-col :sm="8" :md="8" :style="{borderLeft:is_phone?'none':'1px dashed var(--line-muted)',}">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm" label-position="top">
              <el-form-item label="邮箱 (登录账号)" prop="mail">
                <el-input v-model="ruleForm.mail"></el-input>
              </el-form-item>
              <el-form-item label="密码" prop="password">
                <el-input type="password" v-model="ruleForm.password"></el-input>
              </el-form-item>
              <el-form-item v-if="!is_login" label="确认密码" prop="repassword">
                <el-input v-model="ruleForm.repassword"></el-input>
              </el-form-item>
              <el-form-item>
                <el-button style="width: 100%;" type="primary" @click="submitForm('ruleForm')">立即{{ is_login ? '登录' : '注册' }}</el-button>
              </el-form-item>
              <el-form-item label="" prop="repassword" class="shejiao-login">
                <div @click="jump_page('/login/weixin' , '_blank')" class="hand" style="display: flex;align-items: center;">
                  <svg class=" icon login-weixin" aria-hidden="true">
                    <use xlink:href="#icon-weixin"></use>
                  </svg>
                  <div style="padding: 0 5px 0 10px;">微信</div>
                </div>
              </el-form-item>
            </el-form>
          </el-col>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
    var that=null;
    module.exports = {
        props: {
          type: {
            default: '',
          },
        },
        methods:{
          init(){
            if(that.type == 'login'){
              that.is_login = true;
            }else{
              that.is_login = false ;
            }
          },
          jump_page:jump_page,
          do_submit(){
            var data = that.ruleForm;
            data.type = that.type;
            the_post('api/user/login',data,function (res){
              setCookie('token',res.data);
              window.location.href = '/index/index/index';
            });
          },
          submitForm(formName) {
            this.$refs[formName].validate((valid) => {
              if (valid) {
                that.do_submit()
              } else {
                console.log('error submit!!');
                return false;
              }
            });
          },
        },
        mounted:function () {
          that = this;
          that.init();
        },
        data: function() {
          var validateMail = (rule, value, callback) => {
            if (value === '') {
              callback(new Error('请输入邮箱'));
            } else if(!is_mail(value)){
              callback(new Error('邮箱格式不正确'));
            }else {
              callback();
            }
          };
          var validatePass = (rule, value, callback) => {
            if (value === '') {
              callback(new Error('请输入密码'));
            } else {
              callback();
            }
          };
          var validatePass2 = (rule, value, callback) => {
            if (value === '') {
              callback(new Error('请再次输入密码'));
            } else if (value !== this.ruleForm.repassword) {
              callback(new Error('两次输入密码不一致!'));
            } else {
              callback();
            }
          };
          return {
            is_phone:document.body.clientWidth < 767,
            is_login:true,
            ruleForm:{
              mail:'',
              password:'',
              repassword: '',
            },
            rules:{
              mail:[
                { validator: validateMail, trigger: 'blur' }
              ],
              password:[
                { validator: validatePass, trigger: 'blur' }
              ],
              repassword:[
                { validator: validatePass2, trigger: 'blur' }
              ],
            },
          }
        },
    }
</script>

<style>
/*社交账号登录*/
.login_reg_ .icon{
  width: 20px;
  height: 20px;
}
.shejiao-login .el-form-item__content{
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-around;*/
}
a{color: #FFF;}
.login_reg_ .el-form--label-top .el-form-item__label{
  padding-bottom: 0px;
}
.login_reg_ .el-card__body {
  min-height: 50vh;
}
.login_reg_ .el-form-item__label {
  line-height: unset;
}
@media only screen and (min-width: 768px){
  .login_reg_ .el-card__body {
    display: flex;
    align-items: center;
  }
}
@media only screen and (max-width: 767px){
  .login_reg_ .el-card__body {

  }
}
</style>
