<template>
    <el-col :xs="{span:24,offset:0}" :sm="12" :md="6" class="project_temp">
      <div class="project-box project_temp_box" :class="'project_box_'+index">
        <div class="project-desc" :style="{height:box_height+'px',}">
          <div style="padding: 10px;">最多60字文字描述</div>
        </div>
        <div class="project-img" :style="{height:box_height+'px',}"><img src="http://res.neuai.net/makercity/title.png" alt=""></div>
        <div class="project-info">
          <div class="project-title" title="USB Webcam H264 Decode with the KV260 Vision AI Starter Kit">USB Webcam H264 Decode with the KV260 Vision AI Starter Kit</div>
          <div style="font-size: 14px;padding: 5px 0 0;">作者: 董欣宇{{index}}</div>
          <div class="project-btn-box">
            <el-button size="mini" type="primary" plain class="project-btn">
              <svg class=" icon login-weixin" style="font-size: 16px;" aria-hidden="true">
                <use xlink:href="#icon-dianzan"></use>
              </svg> <span>2</span></el-button>
            <el-button size="mini" type="primary" plain class="project-btn">
              <svg class=" icon login-weixin" style="font-size: 16px;" aria-hidden="true">
                <use xlink:href="#icon-liulan"></use>
              </svg> <span>2</span></el-button>
            <div></div>
          </div>
        </div>
      </div>
    </el-col>
</template>

<script>
    // var that=null;
    module.exports = {
        props: {
          index: {
            default: ''
          },
        },
        data: function() {
            return {
              is_phone:document.body.clientWidth < 767,
              box_width:0,
              box_height:0,
            }
        },
        methods:{
          init(){

          },
        },
        watch:{

        },
        mounted:function () {
          that = this;
          that.init();
          that.box_width = document.getElementsByClassName('project_box_'+that.index)[0].offsetWidth;
          that.box_height = that.box_width * 0.7;
        }
    }
</script>

<style>
a{color: #FFF;}
/*整体项目框*/
.project_temp .project-box{
  background: #fff;
  box-shadow: 0px 2px 8px #ccc;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
/*项目信息 - 点赞 / 浏览*/
.project-box .project-info{
  padding: 10px;
}
/*项目信息 - 项目标题*/
.project-box .project-info .project-title{
    font-weight: 700;
    text-overflow:-o-ellipsis-lastline;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-line-clamp:2;/*这儿的数字代表的就是你所需要实现效果的第N行*/
    -webkit-box-orient:vertical;
}
/*项目信息 - 项目按钮组*/
.project-box .project-info .project-btn-box{
  display: flex;
  padding: 10px 0 0;
}
/*项目信息 - 项目按钮*/
.project-box .project-btn-box .project-btn{

}
/*项目简介*/
.project-box .project-desc{
  position: absolute;
  color: rgba(255,255,255,0);
  background: rgba(255,255,255,0);
  width: 100%;
}
/*项目简介的文字样式*/
.project-box .project-desc div{
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  height: calc(100px - 6px);
  line-height: 20px;
}
.project-box .project-desc:hover {
  background: rgba(255,255,255,0.8);
  color: #000;
}
@media only screen and (min-width: 768px){
}
@media only screen and (max-width: 767px){

}
</style>
