<template>
    <div class="step_vue" style="padding: 10px 0;overflow-x: auto;">
      <el-steps :active="0" align-center finish-status="success">
        <template v-for="step in step_list">
          <el-step :title="step.title" :description="step.desc"></el-step>
        </template>
      </el-steps>
    </div>
</template>

<script>
    var that=null;
    module.exports = {
        props: {
          step: {
            default: 1
          },
        },
        data: function() {
            return {
              is_phone:document.body.clientWidth < 767,
              step_list:[
                {
                  title:'创建项目',
                  desc:'项目基本资料'
                },
                {
                  title:'完善项目',
                  desc:'上传项目视频'
                },
                {
                  title:'完成项目',
                  desc:'补足项目文件'
                },
              ],
            }
        },
        methods:{
          init(){

          },
          handleClose(done) {
            done();
          },
        },
        mounted:function () {
          that = this;
          that.init();
        }
    }
</script>

<style>
    a{color: #FFF;}
    @media only screen and (min-width: 768px){

    }
    @media only screen and (max-width: 767px){
      .el-step.is-center .el-step__description {
        padding-left: 10%;
        padding-right: 10%;
      }
    }
</style>
