<template>
    <div style="margin: 20px 0;">
        <div style="font-weight: 700;font-size: 20px;padding: 0 10px;" v-html="message_"></div>
    </div>
</template>

<script>
    var that=null;
    module.exports = {
        props: ['title','pic_base64'],
        data: function() {
            return {
                message_:'',
            }
        },
        methods:{

        },
        mounted:function () {
            that = this;
            this.message_ = this.title;
        }
    }
</script>

<style>
</style>
