<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--    ↓elementUI↓-->
    <link rel="stylesheet" href="{{ STATIC_URL }}common/unpkg.com.element-ui@2.13.1.lib.theme-chalk.index.css">
    <!--    ↑elementUI↑ -->
    <link rel="stylesheet" href="{{ STATIC_URL }}common/css/common.css" media="all">
    <script src="{{ STATIC_URL }}common/helper.js{{ v }}"></script>
    <script src="{{ STATIC_URL }}common/jquery.min.js"></script>
    <!-- 引入 http-vue-loader -->
    <script src="{{ STATIC_URL }}common/httpVueLoader.js"></script>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_773408_n84lap7m21h.css">
    <script src="//at.alicdn.com/t/font_773408_qatphlhihai.js"></script>
    <style>
        .icon {
           width: 1em; height: 1em;
           vertical-align: -0.15em;
           fill: currentColor;
           overflow: hidden;
        }
        body {
            margin: unset !important;
            background: var(--bg-color);
        }
        img{width: 100%;height:100%;}
        @media only screen and (max-width: 767px){
            .el-message-box {
                width: 80vw;
            }
        }
        #app{
            min-height: 100vh;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
        }

        /*询问框样式*/
        .el-message-box {
            width: 330px;
        }
        /*文件上传样式*/
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }
        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }
        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 120px;
            height: 120px;
            line-height: 120px;
            text-align: center;
        }
        .avatar {
            width: 120px;
            /*height: 120px;*/
            display: block;
        }
    </style>
    {% block head %}{% endblock head %}
</head>
<body>
<div id="this_page">
    {% block main %}{% endblock main %}
    {% block script_top %}{% endblock script_top %}
</div>
</body>
<!-- ↓elementUI↓ -->
<!-- 先引入 Vue -->
<script src="{{ STATIC_URL }}common/unpkg.com.vue2.6.11.js"></script>
<script src="{{ STATIC_URL }}common/unpkg.com.element-ui@2.13.1.lib.index.js"></script>
<!-- ↑elementUI↑ -->
<script>Vue.use(httpVueLoader);</script>
{% block script_bottom %}{% endblock script_bottom %}
</html>