
.el-card__header{
    font-weight: 700;
}

@media only screen and (min-width: 768px){
    .section.section-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .index-img{
        width: 60%;
        margin: 20px;
        box-shadow: 0px 0px 8px #aaa;
        position: relative;
        background: #fff;
    }
}
@media only screen and (max-width: 767px){
    .index-img{
        margin: 0 20px 20px;
        box-shadow: 0px 0px 8px #aaa;
        position: relative;
        background: #fff;
    }
}
.index-img-title{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    background: rgba(255,255,255,0.8);
    font-size: 20px;
    font-weight: 700;
}
.index-title{
    padding: 20px;
}
.index-title .title-ch{
    font-size: 70px;
    font-weight: 700;
}
.index-title .title-en{
    font-size: 20px;
    font-weight: 700;
    color: var(--text-muted);
}
/*    第二部分*/
@media only screen and (min-width: 768px){
    .com-join{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
@media only screen and (max-width: 767px){
    .com-join{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .com-join .title {
        width: 100%;
    }
    .com-join .ewm{
        width: 100%;
    }
}
.section.section-2 {
    background: #fff;
}
.com-join .title {
    padding: 20px;
}
.com-join .title .title-ch{
    font-size: 30px;
    font-weight: 700;
}
.com-join .title .title-en{

    color: var(--text-muted);
}
.com-join .ewm{
    padding: 20px;
}
.com-join-step{
    padding: 20px;
}
.com-join-step .step{
    text-align: center;
}
.com-join-step .step .step-index{
    background: #fff;
    font-size: 30px;
}
.step .index1{
    color:#f5d95f;
}
.step .index2{
    color:#eeaa3d;
}
.step .index3{
    color:#ee661c;
}
.step .index4{
    color:#ee661c;
}
.com-join-step .step .step-title {
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
    font-weight: 700;
    color: var(--text-muted);
    height: 40px;
    line-height: 20px;
}
.com-join-step .step .step-time {
    padding: 5px 0;
}
/*    第三部分*/
.section.section-3{
    padding: 20px;
}
.jigou-title{
    writing-mode: vertical-lr;
    padding: 20px;
    font-size: 30px;
    letter-spacing: 20px;
    width: 30px;
}
.jigou-title span{
    font-size: 30px;
    color: #e50011;
}
.jigou-left{
    display: flex;
}
.jigou-haibao-box{
    box-shadow: 0px 0px 10px #aaa;
}
/*单位 : 无冒号的标题*/
.jigou-danwei-title {
    padding: 15px 0;
    font-weight: 700;
    font-size: 20px;
}
.jigou-danwei-box{
    padding: 10px 0;
}
.jigou-info-danwei {
    display: flex;
}
.jigou-info-danwei .title{
    width: 100px;
}
.jigou-info-danwei .item{
    width: 100%;
}
@media only screen and (min-width: 768px){
    .jigou-haibao{
        width: 410px;
        height: 900px;
        position: absolute;
        left: 15px;
        top: 15px;
    }
    .jigou-haibao-box{
        background: #fff;
        position: relative;
        height: 900px;
        width: 410px;
        margin-right: 20px;
    }
}
@media only screen and (max-width: 767px){
    .jigou-left{
        justify-content: space-between;
    }
}
/*    第四部分*/
@media only screen and (min-width: 768px){
}
@media only screen and (max-width: 767px){
}
.section.section-4{
    padding: 20px;
    background: #FFF;
}
.section-4 .brief{}
.section-4 .brief .brief-title{
    padding: 20px;
    font-size: 30px;
    letter-spacing: 20px;
}
.section-4 .brief .brief-title span{
    font-size: 30px;
    color: #e50011;
}