:root{
    --bg-color:#f2f2f2;
    --font-color:#2E9FE6;
    /*提示文字颜色*/
    --text-muted:#777;
    /*线颜色*/
    --line-muted:#eee;
    /*按钮颜色*/
    --btn-color:#00B29F;
    /*阴影颜色*/
    --shadow-color:#ddd;
    /*默认背景颜色*/
    --background-color:#883CD9;
    /*超大字字号*/
    --font-size0:30px;
    --font-size00:34px;
    /*大字字号*/
    --font-size1:24px;
    --font-size11:22px;
    /*中字字号*/
    --font-size2:20px;
}
[v-cloak]{
    display: none;
}
[class*=el-col-] {
    margin-bottom: 15px;
}
/**/
.header-box{
    background: #3C4C5C;
    padding: 10px 50px;
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.header-box span{font-size: 14px;margin-right:5px;}
.nav-box{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.nav-box a{color: #fff;}
.menu-box{
    background: #fff;
    padding: 10px 50px 10px 50px;
    display: flex;
    overflow-x: auto;
}
.logo{
    height: 80px;
    width: 250px;
    flex-shrink: 0;
}

/**/
.flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.layui-layer-msg {
    min-width: 0px !important;
}
img{
    width: 100%;
    height: 100%;
}
/*加阴影*/
.box-shadow{
    box-shadow: 0px 2px 10px var(--shadow-color);
}
/*提示信息*/
.text-muted{
    font-size: 12px;
    color: var(--text-muted);
}
/*按钮*/
.def-btn{
    padding: 10px 15px;
    background: #009688;
    color: #fff;
    width: 100px;
    text-align: center;
    cursor:pointer;
    display: inline-block;
    margin-top: 5px;
}
/*红按钮*/
.btn-warning{
    background: #d15b47;
}
/*白按钮*/
.btn-primary{
    border: 1px solid #C9C9C9;
    background-color: #fff;
    color: #555;
}
/*禁用按钮*/
.btn-disabled{
    border: 1px solid #e6e6e6;
    background-color: #FBFBFB;
    color: #C9C9C9;
    cursor: not-allowed;
}
/*悬浮变小手*/
.hand{
    cursor:pointer;
}
/*隐藏*/
.hidden{
    display: none !important;
}
/*字体加粗*/
.strong{
    font-weight: 700;
}
/*变为行内元素*/
.inline-block{
    display: inline-block;
}

/*!* 设置滚动条的样式 *!*/
/*::-webkit-scrollbar {*/
/*    width:5px;*/
/*    height: 5px;*/
/*}*/
/*!* 滚动槽 *!*/
/*::-webkit-scrollbar-track {*/
/*    -webkit-box-shadow:inset006pxrgba(0,0,0,0.3);*/
/*    border-radius:10px;*/
/*}*/
/*!* 滚动条滑块 *!*/
/*::-webkit-scrollbar-thumb {*/
/*    border-radius:10px;*/
/*    background:rgba(0,0,0,0.1);*/
/*    -webkit-box-shadow:inset006pxrgba(0,0,0,0.5);*/
/*}*/
/*::-webkit-scrollbar-thumb:window-inactive {*/
/*    background:rgba(0,0,0,0.4);*/
/*}*/

/*指定类下的超链接*/
.link-box a{
    color: var(--text-muted)  !important;
}

/*admin*/
.layui-input-label{
    font-weight: 700;
}

/*手机*/
@media screen and (max-width: 450px){
    .order-table{
        width: 1000px;
    }
}
/*平板*/
@media screen and (max-width: 992px) {
}
/*平板*/
@media screen and (min-width: 992px) {

}
/*超出隐藏*/
.overflow-hidden{
    text-overflow:-o-ellipsis-lastline;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-line-clamp:2;/*这儿的数字代表的就是你所需要实现效果的第N行*/
    -webkit-box-orient:vertical;
}