{% load index_tags %}
<!doctype html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Debug</title>
</head>
<body>
<pre>
{{ data }}
</pre>
{% if not group|add_arg:member|call:"already_invite" %}{% endif %}
{% test_as_tag data %}
</body>
</html>