{% extends 'base.html' %}
{% block title %}编辑项目{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ STATIC_URL }}index/index.css">
<style>
.el-row {
    margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    .editormd-preview-container, .editormd-html-preview{
        width: unset !important;
    }
</style>
    <link rel="stylesheet" href="{{ STATIC_URL }}editormd/css/editormd.css" />
{% endblock %}
{% block main %}
<div id="app" v-cloak style="">
    <header_></header_>
    <div style="padding:0px;background: #fff;">
        <div id="test-editormd-view"></div>
    </div>
    <div style="min-height: 100vh;padding:0 10px;">
        <div id="custom-toc-container">
        <tips title="编辑项目"></tips></div>
        <div id="project-editor">
            <textarea style="display:none;"></textarea>
        </div>
        <div><el-button @click="save_project">获取输入的内容</el-button></div>
    </div>
    <fotter_></fotter_>
</div>
{% endblock %}
{% block script_bottom %}
<script src="{{ STATIC_URL }}editormd/editormd.js{{ v }}"></script>
<script>
    var that = null;
    var Main = {
        delimiters: ['{[', ']}'],
        components: {
            'header_': 'url:{{ STATIC_URL }}components/header.vue{{ v }}',
            'fotter_': 'url:{{ STATIC_URL }}components/fotter.vue{{ v }}',
            'tips': 'url:{{ STATIC_URL }}components/tips.vue{{ v }}',
            'project': 'url:{{ STATIC_URL }}components/project.vue{{ v }}',
        },
        data() {
            return {
                editor:null,
                detail:null,
            }
        },
        methods: {
            /*
            * 保存项目*/
            save_project(){
                console.log(that.editor.getMarkdown());
            },
            /*
            * 初始化函数*/
            init(){
                {#that.editor = editormd("project-editor", {#}
                {#    width  : "100%",#}
                {#    height : "0vh",#}
                {#    path   : "{{ STATIC_URL }}editormd/lib/",#}
                {#    onload : function() {#}
                {#        $.get(url + "get_ajox_token/",function(data){#}
                {#            setCookie('X-CSRFtoken',data.token)#}
                {#            setCookie('csrftoken',data.token)#}
                {#            if(data.token){#}
                {#                the_post('api/project/'+$_GET['id'],{id:$_GET['id']},function (res){#}
                {#                    that.detail = res.data.pro_detail#}
                {#                    testEditormdView = editormd.markdownToHTML("test-editormd-view", {#}
                {#                        markdown        : that.detail ,//+ "\r\n" + $("#append-test").text(),#}
                {#                        //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启#}
                {#                        htmlDecode      : "style,script,iframe",  // you can filter tags decode#}
                {#                        //toc             : false,#}
                {#                        tocm            : true,    // Using [TOCM]#}
                {#                        //tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层#}
                {#                        //gfm             : false,#}
                {#                        //tocDropdown     : true,#}
                {#                        // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签#}
                {#                        emoji           : true,#}
                {#                        taskList        : true,#}
                {#                        tex             : true,  // 默认不解析#}
                {#                        flowChart       : true,  // 默认不解析#}
                {#                        sequenceDiagram : true,  // 默认不解析#}
                {#                    });#}
                {#                })#}
                {#            }#}
                {#        });#}
                {#    },#}
                {#})#}

                that.editor = editormd("project-editor", {
                    width  : "100%",
                    height : "80vh",
                    path   : "{{ STATIC_URL }}editormd/lib/",
                })
                setTimeout(function (){
                    that.editor.config({
                        tocContainer : "#custom-toc-container",
                        tocDropdown   : false
                    });
                },1000)

            },
        },
        mounted:function () {
            that = this;
            that.init();
        },
    }
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')
</script>
{% endblock %}