<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ STATIC_URL }}editormd/css/editormd.css" />
    <script src="{{ STATIC_URL }}common/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
<div class="editormd" id="$id">
    <div id="create-btn">创建</div>
    <div id="insert-btn">创建</div>
    <div id="layout"></div>
    <div class="markdown-body editormd-preview-container" id="custom-toc-container">#custom-toc-container</div>
    <div id="test-editormd" class="editormd editormd-vertical" style="width: 90%; height: 720px;">

    </div>
</div>
</body>
<script src="{{ STATIC_URL }}editormd/editormd.js"></script>
<script>

    var testEditormd;

    $(function() {
        var testEditormd = null;
        testEditormd = editormd("test-editormd", {
            width: "90%",
            height: 640,
            markdown : "### 动态创建 Editor.md\r\n\r\nDynamic create Editor.md",
            path : '{{ STATIC_URL }}editormd/lib/'
        });
        setTimeout(function (){
            testEditormd.config({
                tocContainer : "#custom-toc-container",
                tocDropdown   : false
            });
        },1500)
        $("#remove-btn").click(function() {
            testEditormd.editor.remove();
        });
        $("#insert-btn").click(function() {
    });
    });
    /*
    var testEditor = editormd("test-editormd", {
        width  : "90%",
        height : 640,
        path   : "../lib/",
        saveHTMLToTextarea : true
    });
    testEditor.getMarkdown();       // 获取 Markdown 源码
    testEditor.getHTML();           // 获取 Textarea 保存的 HTML 源码
    testEditor.getPreviewedHTML();  // 获取预览窗口里的 HTML，在开启 watch 且没有开启 saveHTMLToTextarea 时使用
    */
</script>
</html>