{% extends 'base.html' %}
{% block title %}首页{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}index/index.css">
    <style>
    .el-row {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
    </style>
{% endblock %}
{% block main %}
<div id="app" v-cloak style="">
    <header_></header_>
    <tips title="热门项目{{ BASE_DIR }}"></tips>
    <div style="padding: 0 10px 10px;">
        <el-row :gutter="20" class="project-box">
            <template v-for="item in 6">
                <project :index="item"></project>
            </template>
        </el-row>
    </div>
    <fotter_></fotter_>
</div>
{% endblock %}
{% block script_bottom %}
<script>
    var that = null;
    var Main = {
        delimiters: ['{[', ']}'],
        components: {
            'header_': 'url:{{ STATIC_URL }}components/header.vue{{ v }}',
            'fotter_': 'url:{{ STATIC_URL }}components/fotter.vue{{ v }}',
            'tips': 'url:{{ STATIC_URL }}components/tips.vue{{ v }}',
            'project': 'url:{{ STATIC_URL }}components/project.vue{{ v }}',
        },
        data() {
            return {

            }
        },
        methods: {
            /*
            * 初始化函数*/
            init(){
            },
            str2time(seconds){
                return str2time(seconds);
            },
        },
        mounted:function () {
            that = this;
            that.init();
        },
    }
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')
</script>
{% endblock %}
