{% extends 'base.html' %}
{% block title %}首页{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}index/index.css">
{% endblock %}
{% block main %}
<div id="app" v-cloak style="">
    <header_></header_>
<!--    第一部分-->
    <div class="section section-1">
        <div class="index-title">
            <div class="title-ch">共创未来</div>
            <div class="title-en">CO-MAKING THE FUTURE</div>
        </div>
        <div class="index-img">
            <img src="http://res.neuai.net/makercity/header1.png" alt="">
            <el-link class="index-img-title" :underline="false">中美青年创客大赛</el-link>
        </div>
    </div>
<!--    第二部分-->
    <div class="section section-2">
        <div class="com-join">
            <div class="title">
                <div class="title-ch">大赛日程与参赛报名</div>
                <div class="title-en">Competition schedule and entry</div>
            </div>
            <div class="ewm">
                <div style="height: 100px;width: 100px;margin: auto;">
                    <img src="http://res.neuai.net/makercity/mpwx_ewm.jpg" alt="">
                </div>
                <div style="text-align:center">官方公众号</div>
            </div>
        </div>
        <div class="com-join-step">
            <el-row :gutter="20">
                <el-col class="step" :md="6" :xs="12">
                    <div class="step-index index1">1</div>
                    <div class="step-title">沈阳赛区报名时间</div>
                    <div class="step-time">开始:2021年5月12日</div>
                    <div class="step-time">结束:2021年6月21日</div>
                </el-col>
                <el-col class="step" :md="6" :xs="12">
                    <div class="step-index index2">2</div>
                    <div class="step-title">沈阳赛区初赛时间</div>
                    <div class="step-time">开始:2021年6月23日</div>
                    <div class="step-time">结束:2021年7月10日</div>
                </el-col>
                <el-col class="step" :md="6" :xs="12">
                    <div class="step-index index3">3</div>
                    <div class="step-title">沈阳赛区决赛时间</div>
                    <div class="step-time">开始:2021年7月16日</div>
                </el-col>
                <el-col class="step" :md="6" :xs="12">
                    <div class="step-index index4">4</div>
                    <div class="step-title">全国总决赛比赛时间</div>
                    <div class="step-time">开始:2021年8月20日</div>
                    <div class="step-time">结束:2021年8月22日</div>
                </el-col>
            </el-row>
        </div>
    </div>
<!--    第三部分-->
    <div class="section section-3">
        <el-row :gutter="20">
            <el-col :md="12" :xs="24" class="jigou-left">
                <div class="jigou-haibao-box">
                    <div class="jigou-haibao">
                        <img src="http://res.neuai.net/makercity/haibao01.jpg" alt="">
                    </div>
                </div>
                <div class="jigou-title">
                    <span class="iconfont icon-tubiaozhizuo-"></span>组织机构<span class="iconfont icon-tubiaozhizuo-"></span>
                </div>
            </el-col>
            <el-col :md="12" :xs="24">
                <div class="jigou-danwei">
                    <div class="jigou-danwei-title">主办单位</div>
                    <el-row :gutter="30" class="jigou-danwei-box">
                        <el-col :xs="24" :md="12">中华人民共和国教育部</el-col>
                    </el-row>
                </div>
                <div class="jigou-danwei">
                    <div class="jigou-danwei-title">大赛组织机构</div>
                    <el-row :gutter="30" class="jigou-danwei-box">
                        <el-col :xs="24" :md="12">中国（教育部）留学服务中心</el-col>
                        <el-col :xs="24" :md="12">谷歌信息技术（中国）有限公司</el-col>
                        <el-col :xs="24" :md="12">清华大学</el-col>
                        <el-col :xs="24" :md="12">中国大学科技园联盟</el-col>
                        <el-col :xs="24" :md="12">北京歌华文化发展集团</el-col>
                    </el-row>
                </div>
                <div class="jigou-danwei">
                    <div class="jigou-danwei-title">沈阳赛区组织机构</div>
                    <div class="jigou-info">
                        <div class="jigou-info-danwei">
                            <div class="title">指导单位:</div>
                            <el-row :gutter="30" class="item">
                                <el-col :xs="24" :md="12">辽宁省教育厅</el-col>
                            </el-row>
                        </div>
                        <div class="jigou-info-danwei">
                            <div class="title">承办单位:</div>
                            <el-row :gutter="30" class="item">
                                <el-col :xs="24" :md="12">东北大学</el-col>
                                <el-col :xs="24" :md="12">抚顺市政府</el-col>
                                <el-col :xs="24" :md="12">辽宁石油化工大学</el-col>
                                <el-col :xs="24" :md="12">沈阳牛艾科技有限公司</el-col>
                            </el-row>
                        </div>
                        <div class="jigou-info-danwei">
                            <div class="title">协办单位:</div>
                            <el-row :gutter="30" class="item">
                                <el-col :xs="24" :md="12">航天科技控股集团股份有限公司</el-col>
                                <el-col :xs="24" :md="12">东北大学国家科技园</el-col>
                                <el-col :xs="24" :md="12">谷歌高职北方区域联盟</el-col>
                            </el-row>
                        </div>
                        <div class="jigou-info-danwei">
                            <div class="title">技术支持:</div>
                            <el-row :gutter="30" class="item">
                                <el-col :xs="24" :md="12">沈阳牛艾科技有限公司</el-col>
                            </el-row>
                        </div>
                    </div>
                </div>
            </el-col>
        </el-row>
    </div>
<!--    第四部分-->
    <div class="section section-4">
        <el-row :gutter="20">
            <el-col class="brief" :md="24" :xs="24">
                <div class="brief-title">
                    <span class="iconfont icon-tubiaozhizuo--copy"></span>大赛简介<span class="iconfont icon-tubiaozhizuo--copy"></span>
                </div>
                <div>　　大赛倡导参赛者关注社区、教育、环保、健康、能源、交通等可持续发展领域，结合创新理念和前沿科技，打造具有社会和产业价值的全新作品。推动中美两国青年创客在创新领域的深度交流，进而加强两国在青年层面上的文化交流与沟通。</div>
            </el-col>
        </el-row>
    </div>
    <fotter_></fotter_>
</div>
{% endblock %}
{% block script_bottom %}
<script>
    var that = null;
    var Main = {
        delimiters: ['{[', ']}'],
        components: {
            'header_': 'url:{{ STATIC_URL }}components/header.vue{{ v }}',
            'fotter_': 'url:{{ STATIC_URL }}components/fotter.vue{{ v }}',
            'tips': 'url:{{ STATIC_URL }}components/tips.vue{{ v }}',
        },
        data() {
            return {

            }
        },
        methods: {
            /*
            * 初始化函数*/
            init(){
            },
            str2time(seconds){
                return str2time(seconds);
            },
        },
        mounted:function () {
            that = this;
            that.init();
        },
    }
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')
</script>
{% endblock %}
