{% extends 'base.html' %}
{% block title %}登录{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}index/index.css">
    <style>
        .el-card__header{
            font-weight: 700;
        }
    </style>
{% endblock %}
{% block main %}
<div id="app" v-cloak style="">
    <header_></header_>
    <login_reg type="login"></login_reg>
    <bg_beauty></bg_beauty>
</div>
{% endblock %}
{% block script_bottom %}
<script>
    var that = null;
    var Main = {
        delimiters: ['{[', ']}'],
        components: {
            'header_': 'url:{{ STATIC_URL }}components/header.vue{{ v }}',
            'fotter_': 'url:{{ STATIC_URL }}components/fotter.vue{{ v }}',
            'tips': 'url:{{ STATIC_URL }}components/tips.vue{{ v }}',
            'login_reg': 'url:{{ STATIC_URL }}components/login_reg.vue{{ v }}',
            'bg_beauty': 'url:{{ STATIC_URL }}components/bg_beauty.vue{{ v }}',
        },
        data() {
            return {

            }
        },
        methods: {
            /*
            * 初始化函数*/
            init(){
            },
            str2time(seconds){
                return str2time(seconds);
            },
        },
        mounted:function () {
            that = this;
            that.init();
        },
    }
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')
</script>
{% endblock %}