{% extends 'base.html' %}
{% block title %}预览项目{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ STATIC_URL }}index/index.css">
<style>
.el-row {
    margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    .editormd-preview-container, .editormd-html-preview{
        width: unset !important;
    }
    #project-toc{
        width: 100%;
    }
</style>
    <link rel="stylesheet" href="{{ STATIC_URL }}editormd/css/editormd.css" />
{% endblock %}
{% block main %}
<div id="app" v-cloak style="">
    <header_></header_>
    <div style="min-height: 100vh;padding:10px;background: #fff;">
        <div id="test-editormd-view"></div>
    </div>
    <fotter_></fotter_>
<el-drawer
  :visible.sync="show_toc"
  direction="rtl"
  custom-class="demo-drawer"
  ref="drawer"
  size="80vw"
  :with-header="false"
  :show-close="false"
  >
  <div style="overflow-x: scroll;">
    <div id="project-toc" style="height: calc(100vh);overflow-y: scroll;padding:0 20px;"></div>
  </div>
</el-drawer>
</div>
{% endblock %}
{% block script_bottom %}
<script src="{{ STATIC_URL }}editormd/lib/raphael.min.js{{ v }}"></script>
<script src="{{ STATIC_URL }}editormd/lib/flowchart.min.js{{ v }}"></script>
<script src="{{ STATIC_URL }}editormd/lib/underscore.min.js{{ v }}"></script>
<script src="{{ STATIC_URL }}editormd/lib/marked.min.js{{ v }}"></script>
<script src="{{ STATIC_URL }}editormd/lib/prettify.min.js{{ v }}"></script>
<script src="{{ STATIC_URL }}editormd/lib/underscore.min.js{{ v }}"></script>
<script src="{{ STATIC_URL }}editormd/lib/raphael.min.js{{ v }}"></script>
<script src="{{ STATIC_URL }}editormd/lib/jquery.flowchart.min.js{{ v }}"></script>
<script src="{{ STATIC_URL }}editormd/lib/sequence-diagram.min.js{{ v }}"></script>
<script src="{{ STATIC_URL }}editormd/editormd.js{{ v }}"></script>
<script>
    var that = null;
    var Main = {
        delimiters: ['{[', ']}'],
        components: {
            'header_': 'url:{{ STATIC_URL }}components/header.vue{{ v }}',
            'fotter_': 'url:{{ STATIC_URL }}components/fotter.vue{{ v }}',
            'tips': 'url:{{ STATIC_URL }}components/tips.vue{{ v }}',
            'project': 'url:{{ STATIC_URL }}components/project.vue{{ v }}',
        },
        data() {
            return {
                editor:null,
                detail:null,
                show_toc:true,
            }
        },
        methods: {
            /*
            * 保存项目*/
            save_project(){
                console.log(that.editor.getMarkdown());
            },
            /*
            * 初始化函数*/
            init(){
                the_post('api/project/'+$_GET['id'],{id:$_GET['id']},function (res){
                    that.detail = res.data.pro_detail
                    that.show_toc = true;
                var testEditormdView, testEditormdView2;
                testEditormdView = editormd.markdownToHTML("test-editormd-view", {
                    markdown        : that.detail ,//+ "\r\n" + $("#append-test").text(),
                    //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
                    htmlDecode      : "style,script,iframe",  // you can filter tags decode
                    //toc             : false,
                    tocm            : true,    // Using [TOCM]
                    tocContainer    : "#project-toc", // 自定义 ToC 容器层
                    //gfm             : false,
                    //tocDropdown     : true,
                    // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
                    emoji           : true,
                    taskList        : true,
                    tex             : true,  // 默认不解析
                    flowChart       : true,  // 默认不解析
                    sequenceDiagram : true,  // 默认不解析
                });
        /*
                    testEditormdView = editormd.markdownToHTML("test-editormd-view", {
                        markdown        : that.detail ,//+ "\r\n" + $("#append-test").text(),
                        //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
                        htmlDecode      : "style,script,iframe",  // you can filter tags decode
                        toc             : true,
//                        tocm            : true,    // Using [TOCM]
//                        tocDropdown     : true,
                        tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
                        //gfm             : false,
                        //tocDropdown     : true,
                        // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
                        emoji           : true,
                        taskList        : true,
                        tex             : true,  // 默认不解析
                        flowChart       : true,  // 默认不解析
                        sequenceDiagram : true,  // 默认不解析
                    });
                    */
                })
            },
        },
        mounted:function () {
            that = this;
            that.init();
        },
    }
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')
</script>
{% endblock %}